
.card-list {
    padding-top: 197px;
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-row-gap: 45px;
}
@media (max-width: 1200px) {
    .card-list {
        padding-top: 115px;
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 768px) {
    .card-list {
        padding-top: 115px;
        grid-template-columns: 1fr;
    }
}

.totalQuotes {
    margin: 0 auto;
    text-align: center;
    background: #1f262d;
    padding: 10px 0px;
    position: fixed;
    top: 132px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    color: #fff;
    font-weight: 100;
    z-index: 15;
    span {
        color: #9bd441
    }
    @media (max-width: 768px) {
        padding: 5px;
        font-size: 13px;;
    }
}